body {
  background-color: red;
}

/*
 inline> intenal > external
 */

h1 {
  color: blue;
}

#test {
  color: green;
}

.text-40 {
  font-size: 40px;
  color: white;
}

.display{
    /* display: ; */
}